h1 > i {
  font-style: italic;


figcaption {
  font-style: italic;
  text-align: center;
}

p {
  font-size: .8rem;
}

.germination {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

ol li {
  font-size: .8rem;
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
  font-size: .8rem;
}

dd {
  font-size: .8rem;
}

ul li {
  font-size: .8rem;
  list-style-type: circle;
}
